$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


$black: #000;
$gray: #dadada;
$bgray: #dfdfdf;

// #bottom {
  // background-image: url('https://i.imgur.com/GaFHTNe.jpg');
  // border: 0;
  // padding-top: -5px;
  // height: 75px;
  // background-color: $black;
// }

// .bottom-email-2
// .btn-group {
//   float: left;
//   position: sticky;
// }

// br {
//   border: 2px solid $bgray;
// }

// #create-note {
//   border: 2px solid $bgray;
// }

// .dropdown-menu {
//   height: 300px;
//   width: 300px;
// }

.form-field {
  // border: 0;
  min-width: 600px;
}

.form-field-note-box {
  min-height: 300px;
  min-width: 600px;
  padding-bottom: -5px;
}

header {
  // clear: both;
  // font-size: 12px;
  // font-weight: 400;
  // line-height: 32px;
  // margin: auto;
  // padding-left: 50%;
  // padding-right: 50%;
  // width: 50%;
  // min-width: 450px;
}

.main {
  clear: both;
  display: block;
  float: left;
  min-width: 600px;
  overflow: auto;
  padding: 20px;
}

.notes {
  float: right;
}

#selector {
  padding-bottom: 20px;
  padding-top: 20px;
}

#type-id {
  font-size: 24px;
}

ul {
  background-color: $gray;
  border: 2px solid $black;
  min-width: 600px;
}

// .user-actions {
//   border: 2px solid $black;
//   border-radius: 5px;
//   // clear: both;
//   display: block;
//   float: left;
//   left: 0%;
//   max-width: 40%;
//   overflow: hidden;
//   padding: 10px;
//   // position: fixed;
//   top: 0%;
//   // transform: translate(-50%, -50%);
// }
